.rdrInputRange span, .rdrStaticRange span {
    color: #3e484f;
    text-transform: capitalize;

}
.rdrDayToday .rdrDayNumber span:after{
   background: #202b33
}

.rdrInputRangeInput span {
    display: none;
}
