.chart {
    margin: 5px 40px 0 40px;
}
.anychart-credits {
    display: none;
 }

.apexcharts-toolbar {
     visibility: hidden;
}

:root {
    --swiper-theme-color: #3e484f;
}

.apexcharts-title-text, .apexcharts-text, .apexcharts-yaxis-label  {
    fill: #3e484f;
}
