.nav-bar {
    align-items: center;
}
.search{
    width: 150px;
    margin-left: 20px;
    margin-right: 2px;
}
.header-icon {
    margin-left: -10px;
}
.bp3-dark .bp3-input:focus {
    box-shadow: 0 0 0 1px white, 0 0 0 1px white, 0 0 0 3px rgba(19, 124, 189, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4) !important;
}
.symbolInput{
    width: 450px;
}
