.stockCardFull {
    height: 250px;
    width: 1500px;
    margin: 0 auto 30px auto;
    padding: 0;
    display: flex;
}

.stockCardSummary {
    width: 22%;
    height: 250px;
}

.fiftyTwoWeek {
    margin-top: 40px;
}

.bp3-heading {
    color: #3e484f;
}